
.container {
    background-color: white;
    margin: 20px;
    padding: 10px 30px;
    border-radius: 10px;
  }
.row {
    display: flex;
    flex-direction: row;
}
.row-form {
    flex-basis: 40%;
}
.row-resume {
    flex-basis: 60%;
}
.resume {
    background-color: white;
    height: 100%;
}
#form-personal {
    display: none;
}
#form-education {
    display: none;
}
#form-experience {
    display: none;
}
.section-header {
    margin: 10px 0;
}
.label {
    margin-bottom: 20px;
}
input {
    background-color: rgb(244, 242, 242);
    border-style: none;
    border-radius: 5px;
    font-size: 14px;
    height: 40px;
    width: 90%;
    padding: 0 10px;
}