.container {
    background-color: white;
    margin: 20px;
    padding: 10px 30px;
    border-radius: 10px;
  }

/* flex */
.row {
    display: flex;
    flex-direction: row;
}
.row-form {
    flex-basis: 40%;
}
.row-resume {
    flex-basis: 60%;
    background-color: gray;
}
.row-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row-date-start {
    flex-basis: 45%;
}
.row-date-end {
    flex-basis: 45%;
}
.row-remove {
    display: flex;
    flex-direction: row;
}
.row-remove-heading {
    margin-right: auto;
}
.row-remove-button {
    margin-left: auto;
    margin-top: 20px;
}

/*  */
.resume {
    background-color: white;
    margin: 20px auto;
    padding: calc(0.5/11*80vh);
    height: 80vh;
    width: calc(8.5/11*80vh);
}
#form-personal {
    display: none;
}
#form-education {
    display: none;
}
#form-experience {
    display: none;
}
.section-header {
    margin: 10px 0;
    cursor: pointer;
}
.subsection {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.label {
    margin-bottom: 20px;
}
input {
    background-color: rgb(244, 242, 242);
    border-style: none;
    border-radius: 5px;
    font-size: 14px;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
}
button {
    background-color: white;
    border-style: none;
    font-size: 25px;
    margin: 0 auto;
    cursor: pointer;
}
.button-add {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}