.row-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.row-header h1{
    font-size: 50px;
}
.row-header h1 span {
    color: #7209b7;
}
.row-header img {
    height: 100px;
    width: auto;
}
.button-download {
    display: block;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #a561d3;
    border: none;
    font-size: 18px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.button-download:hover{
    background-color: #8336b7;
}
.button-github {
    background-color: #d361d1;
    font-size: 18px;
    border-radius: 10px;
    display: block;
    text-decoration: none;
    margin: 20px auto;
    padding: 10px 20px;
    width: 100px;
    transition: 0.2s;
}
.button-github:hover {
    background-color: #ce3acc;
}
.button-github:visited {
    color: black;
}